{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Mortenson John</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Titlow Louise</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Kitelinger Jennifer</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Askegreen Jason</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Coleman Patrick</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Wong Ruth </h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">DeCaprio Lauren</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Aronen Heather</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/arts.jpg')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Campillo John</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
</center>
</body>


{% endblock %}


