{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Dafoe Stephanie</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Darcey Melissa</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Hall Trent</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Jenkin Cara</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Mansour Colleen</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Nevares Nick</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Nona Lubna</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Paulson Kelly</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Philyaw Jennifer</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Ross Rachel</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Weeg Robert</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">West Ted</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">James Kristen</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/english.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Christopher Robin</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
</center>
</body>


{% endblock %}