{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Segovia Johnny</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Ayres Elizabeth</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Coats Scott</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Curry Neal</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Smith Chermaine</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Giffin Tasha</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Keller Kevin</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Simmons Kenneth</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Smith Charmaine</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Swanson Tom</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Volger Megan</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/history.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Smith Joan</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>


</center>
</body>


{% endblock %}