<html>

{% set source = projects.get_source() %} <!-- source of project dict -->
{% set name = source["name"] %}
{% set github = source["github"] %}
{% set youtube = source["youtube"] %}

{% set greeting = data["greeting"] %}
{% set doa = data["doa"] %}
{% set doah = data["doah"] %}
{% set job = data["job"] %}
{% set embed = data["embed"] %}
{% set gist = data["gist"] %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--
    <a class="navbar-brand" href="#">Ducks</a>
    -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-left" href="/"><img src="{{url_for('static', filename='duck.png')}}" style="width:50px;height:50px;"></a>
            </li>
            <li class="nav-link active">
                <a class="nav-link" href="/"> Home </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/raiting"> Math </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/english"> English </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/science"> Science </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/language"> Foreign Language </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/history"> History </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/ens"> ENS </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/elective"> Electives </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/test"> Test </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/login"> Login </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/registration"> Register </a>
            <li class="nav-link">
                <a class="nav-link" href="/Evaluate"> Evaluate </a>
            <li class="nav-link">
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/profile"> Profile </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/star"> Rating system </a>
            </li>

        </ul>
    </div>
</nav>


<head>


    <title> Navodit, Roop, Aidan, AK | Home </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        h1{
            font-size: 5em;

        }

        h3{
            text-align: center;
            font-size: 2em;
            font-family: "Lucida Console", Courier, monospace;
            color: white;
        }

        .button {
            background-color: Transparent;
            border: none;
            background-color: Transparent;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            background-color: Transparent;
            background-color: Transparent;
            border: 0px solid #4CAF50;
        }
        body{
            background-color: #243447;
        }

    </style>
</head>

<body>

<div class="container-fluid">

    <div class="row justify-content-end" style="padding-top: 2%; padding-bottom: 2%; padding: 2%;">

        <div class="col-3" style="text-align: right;">


            <button class="button button1" onclick="window.location.href='/meme';"> </button>
            <button class="button button1" onclick="window.location.href='/whoami';"> </button>
        </div>

    </div>

    <div class="row justify-content-center" style="text-align: center;">
        <button class="button button2" onclick="window.location.href='/rfg'"><img src="{{url_for('static', filename='duck.png')}}" style="width:150px;height:150px;">
            <!--<h1>Ducks</h1>-->
        </button>
    </div>


    <div class="row justify-content-center" style="padding-top: 5%; padding-bottom: 1%; text-align: center;">
        <h3>Welcome to the DNHS</h3>
    </div>
    <div class="row justify-content-center" style="padding-top: 0%; padding-bottom: 1%; text-align: center;">
        <h3>Teacher Rating And Evaluation</h3>
    </div>

</div>

</body>
<!--
<div class="footer">
    <p>This is my test footer</p>
</div>
-->


</html>

<!--
PNG:
Icons made by <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->

<!--
SVG:
Icons made by <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
-->