{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<head>
    <title> Language </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Alvarez Maria</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Balderas Maritza</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Lecakes-Jones Holly</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Ruggiero Lauren</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Strutton Aaron</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">DeAlba Ingrid</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Velasco Leonardo</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/world.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Tu Ryan</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
</center>
</body>
{% endblock %}