
<body>
</br>
</br>
</br>
</br>
<!-- code 11-14 creates the positions for the cards -->
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">Ak and Noya</h5>
                    <p class="card-text">This is Ak's and Noya's Journal</p>
                    <a href="https://docs.google.com/document/d/12e0t50bgS-q9Nye2LspMzOyFSlScJnUHTkQf2siAjQw/edit?usp=sharing" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">Akhil, Karam, and Max</h5>
                    <p class="card-text">This is Akhil's, Karam's and Max's Journal</p>
                    <a href="https://docs.google.com/document/d/1y2lwqai4k3cJUoh604DfrBu3ciog4cgj861_o0HAIAg/edit?usp=sharing" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{











<html>


<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Krenz James</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Lanzi Sheaman Mitchelle</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Nydam Cherrie</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Lafferty James</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ziegler Mark</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Bassett James</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Joel Bernabeo</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Derksen Michelle</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Edelstein Scott</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Moulton Tyler</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Friedemann Erika</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Heinen Cara</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Huang Yali</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Titlow Louise</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> West Briana</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Hightower Reanna</h5>
        </div>

    </div>
</center>
</body>


<script src="{{ url_for('static', filename='three.r119.min.js') }}"></script>
<script src="{{ url_for('static', filename='vanta.net.min.js') }}"></script>

<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename='vanta.cells.min.js') }}"></script>
<script>
    VANTA.CELLS({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 1000.00,
      minWidth: 200.00,
      scale: 1.00,
      color1: 0x7071d,
      color2: 0x3032f,
      size: 1.20,
      speed: 3.30
    })
<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename='vanta.cells.min.js') }}"></script>
<script>
    VANTA.CELLS({
      el: "body",
      mouseControls: true,
      touchControls: true,
      gyroControls: false,
      minHeight: 1000.00,
      minWidth: 200.00,
      scale: 1.00,
      color1: 0x7071d,
      color2: 0x3032f,
      size: 1.20,
      speed: 3.30
    })
</script>


<style>
html, body {
    margin: 0;
    height: 100%;
    color: white;
}

h1{
    font-size: 5em;
}

h5{
    font-size: 2em;
}

.fa{
    font-size: 3em;
    letter-spacing: 1em;
    transition: all .2s;
    color: white;
}

.fa:hover{
    transform: translateY(10px);
}

.fa-youtube-play:hover{
    color: #cc0000;
}

.fa-twitter:hover{
    color: #1da1f2;
}

.fa-github:hover{
    color: #000000;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    color: white;
    font-size: 2.5em;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}


</style>

<</html>