{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<head>
    <title> Math </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Krenz James</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            form action="#" method="get" id="sign-up">
            <h1>Evaluation</h1>
            <fieldset>
                <form action="#" method="get" id="sign-up">
                    <fieldset>
                        <!-- made these fields required -->
                        <legend><span class="number">1</span> Please Enter Honestly </legend>
                        <label for="Comments">Comments:</label>
                        <input type="text" id="Comments" name="user_name" required placeholder="Add Comments" autofocus>


                        ​
                        ​
                        <label for="Rate">Rate</label>
                        <select id="Rate" name="Rate" required>
                            <option>Please Choose</option>
                            <optgroup label="Web">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="0">0</option>
                                <button type="submit">Sign Up</button>
                                ​
                                ​
                                <label>Interests</label>
                                <input type="checkbox" id="I Have Answerd Honestly" value="I have answered honesltly" name="user_interest"><label class="light" for="Honesty">I have answered Honestly</label><br>

                                <input type="button" value="Submit" />
                                ​
                </form>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Lanzi Sheaman Mitchelle</h5>
            <input type="Image" src="{{url_for('static', filename='icons/rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <h1>Evaluation</h1>
            <fieldset>
                <form action="#" method="get" id="sign-up">

                    <fieldset>


                        ​
                        ​
                        <label for="Rate">Rate</label>
                        <select id="Rate" name="Rate" required>
                            <option>Please Choose</option>
                            <optgroup label="Web">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="0">0</option>
                                <button type="submit">Sign Up</button>
                                ​
                                ​
                                <label>Interests</label>
                                <input type="checkbox" id="I Have Answerd Honestly" value="I have answered honesltly" name="user_interest"><label class="light" for="Honesty">I have answered Honestly</label><br>

                                <input type="button" value="Submit" />
                                ​
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Nydam Cherrie</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <h1>Evaluation</h1>
            <fieldset>
                <form action="#" method="get" id="sign-up">

                    <fieldset>


                        ​
                        ​
                        <label for="Rate">Rate</label>
                        <select id="Rate" name="Rate" required>
                            <option>Please Choose</option>
                            <optgroup label="Web">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="0">0</option>
                                <button type="submit">Sign Up</button>
                                ​
                                ​
                                <label>Interests</label>
                                <input type="checkbox" id="I Have Answerd Honestly" value="I have answered honesltly" name="user_interest"><label class="light" for="Honesty">I have answered Honestly</label><br>

                                <input type="button" value="Submit" />
                                ​
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Lafferty James</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Ziegler Mark</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Bassett James</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Joel Bernabeo</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Ashton  Arlene</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Derksen Michelle</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Edelstein Scott</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Friedemann  Erika</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Heinen Cara</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>

    <div class="card" style="width: 18rem;">
            <div class="card-body">
              <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
              <h5 class="card-title">Hightower Reanna</h5>
              <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
       </div>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
                    <h5 class="card-title">Huang Yali</h5>
                    <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
                </div>

 <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
                        <h5 class="card-title">Titlow Louise</h5>
                        <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
                    </div>

   <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <a class="navbar-left"><img src="{{url_for('static', filename='icons/math.png')}}" style="width:75px;height:75px;"></a>
                            <h5 class="card-title">West Briana</h5>
                            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;"> <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
                        </div>
   </div>


</center>
</body>


{% endblock %}