
<body>
</br>
</br>
</br>
</br>
<!-- code 11-14 creates the positions for the cards -->
<div class="container px-lg-5">
    <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">Krenz James</h5>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">Lanzi Sheaman Mitchelle</h5>
                </div>
            </div>
        </div>
        <div class="col py-3 px-lg-5">
            <div class="card" style="width: 18rem;">
                <!-- image source -->
                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                <!-- card code -->
                <div class="card-body">
                    <h5 class="card-title">Nydam Cherrie</h5>
                    <div class="col py-3 px-lg-5">
                        <div class="card" style="width: 18rem;">
                            <!-- image source -->
                            <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                            <!-- card code -->
                            <div class="card-body">
                                <h5 class="card-title">Lafferty James</h5>
                                <div class="col py-3 px-lg-5">
                                    <div class="card" style="width: 18rem;">
                                        <!-- image source -->
                                        <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                        <!-- card code -->
                                        <div class="card-body">
                                            <h5 class="card-title">Ziegler Mark</h5>
                                            <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                            <!-- card code -->
                                            <div class="card-body">
                                                <h5 class="card-title">Bassett James</h5>
                                                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                <!-- card code -->
                                                <div class="card-body">
                                                    <h5 class="card-title">Joel Bernabeo</h5>
                                                    <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                    <!-- card code -->
                                                    <div class="card-body">
                                                        <h5 class="card-title">Derksen Michelle</h5>
                                                        <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                        <!-- card code -->
                                                        <div class="card-body">
                                                            <h5 class="card-title">Edelstein Scott</h5>
                                                            <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                            <!-- card code -->
                                                            <div class="card-body">
                                                                <h5 class="card-title">Moulton Tyler</h5>
                                                                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                                <!-- card code -->
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Friedemann Erika</h5>
                                                                    <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                                    <!-- card code -->
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">Heinen Cara</h5>
                                                                        <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                                        !-- card code -->
                                                                        <div class="card-body">
                                                                            <h5 class="card-title">Huang Yali</h5>
                                                                            <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                                            !-- card code -->
                                                                            <div class="card-body">
                                                                                <h5 class="card-title">Titlow Louise</h5>
                                                                                <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                                                !-- card code -->
                                                                                <div class="card-body">
                                                                                    <h5 class="card-title">West Briana</h5>
                                                                                    <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">
                                                                                    !-- card code -->
                                                                                    <div class="card-body">
                                                                                        <h5 class="card-title">Hightower Reanna</h5>
                                                                                        <img src="https://www.teachingenglish.org.uk/sites/teacheng/files/styles/large/public/images/class_journals_iStock_000021675732XSmall.jpg?itok=eRUojT6a" class="card-img-top">




                                                                                        </div>
                                                                                    </div>
                                                                                </div>



                                                                                    </div>
                                                                                </div>
                                                                            </div>



                                                                                </div>
                                                                            </div>
                                                                        </div>



                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                                </div>
                                                            </div>
                                                        </div>

                                                            </div>
                                                        </div>
                                                    </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                    </div>
                                                </div>
                                            </div>

                                                </div>
                                            </div>
                                        </div>

                                            </div>
                                        </div>
                                    </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
{











<html>


<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Krenz James</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Lanzi Sheaman Mitchelle</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Nydam Cherrie</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Lafferty James</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Ziegler Mark</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Bassett James</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Joel Bernabeo</h5>

        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Derksen Michelle</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Edelstein Scott</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Moulton Tyler</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Friedemann Erika</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Heinen Cara</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Huang Yali</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">Titlow Louise</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> West Briana</h5>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Hightower Reanna</h5>
        </div>

    </div>
</center>
</body>


