<html>

<img src="static/memes/meme1.jpg" alt="meme1" style="width:300px">
<img src="static/memes/meme2.png" alt="meme2" style="width:300px">
<img src="static/memes/meme3.png" alt="meme3" style="width:300px">
<img src="static/memes/meme4.png" alt="meme4" style="width:300px">
<img src="static/memes/meme5.png" alt="meme5" style="width:300px">
<img src="static/memes/meme6.png" alt="meme6" style="width:300px">
<img src="static/memes/meme7 (1).png" alt="meme7" style="width:300px">
<img src="static/memes/meme8.jpg" alt="meme8" style="width:300px">
<img src="static/memes/meme9.jpg" alt="meme9" style="width:300px">

</html>