<html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--
    <a class="navbar-brand" href="#">Ducks</a>
    -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="navbar-left"><img src="{{url_for('static', filename='duck.png')}}" style="width:50px;height:50px;"></a>
            </li>
            <li class="nav-link active">
                <a class="nav-link" href="/"> Home </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/math"> Math </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/english"> English </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/science"> Science </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/language"> Foreign Language </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/history"> History </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" style="background-color:black; color:cyan;" href="/ens"> ENS </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/elective"> Electives </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/rfg"> Random Fact Generator </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/login"> Login </a>
            </li>
            <li class="nav-link">
                <a class="nav-link" href="/registration"> Register </a>
            <li class="nav-link">
                <a class="nav-link" href="/Evaluate"> Evaluate </a>
            </li>

        </ul>
    </div>
</nav>


<head>

    <title> MEMES </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

<script>
    var timer = setInterval(meme, 3000)
    var i =1
    var filename
    function meme() {
        if (i > 9){
            i=1;
        }
        filename= "static/memes/meme"+i+".jpg"
        document.getElementById("navo").src=filename;
        console.log(filename);


        i++
    }
</script>

<img id="navo" style="width:300px">
<!--
<img src="static/memes/meme2.png" alt="meme2" style="width:300px">

<img src="static/memes/meme3.png" alt="meme3" style="width:300px">

<img src="static/memes/meme4.png" alt="meme4" style="width:300px">

<img src="static/memes/meme5.png" alt="meme5" style="width:300px">

<img src="static/memes/meme6.png" alt="meme6" style="width:300px">

<img src="static/memes/meme7 (1).png" alt="meme7" style="width:300px">

<img src="static/memes/meme8.jpg" alt="meme8" style="width:300px">

<img src="static/memes/meme9.jpg" alt="meme9" style="width:300px"> -->

</div>

</body>


<script src="https://threejs.org/build/three.js"></script>
<script src="{{ url_for('static', filename='vanta.cells.min.js') }}"></script>
<script>
    VANTA.CELLS({
        el: "body",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 2000.00,
        minWidth: 200.00,
        scale: 1.00,
        color1: 0x7071d,
        color2: 0x3032f,
        size: 1.20,
        speed: 3.30
    })
</script>

#Navodit was here
</html>



