{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Random Fact Generator</title>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            color: white;
        }

        h1{
            font-size: 5em;
        }

        h5{
            font-size: 2em;
            color: black;
        }
        body{
            background-color: #243447;
        }

    </style>
</head>

<body>
    <h1>Random Fact Generator</h1>
    <p class="fact">{{fact}}</p>
    <form method="POST" ID="myForm" action={{url_for('.rfg')}} >
        <input type="submit" value="New Fact">
    </form>
</body>
<!--<body>
    <section id="cta" class="wrapper" style = "background-color: white; font-color:black">
        <div class="inner">
            <h2 style="color:black">Random Fact Generator</h2>
            <center><p style="color:black" class="fact-text facts">{{fact}}</p></center>
            <button type="submit" onClick="window.location.reload()" style=background-color:white;color:black;width:100px;position:center>Random Fact</button>
            </form>
        </div>
        <p> </p>
    </section>
</body>
-->
{% endblock %}