{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

    <title> Science </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="https://upload.wikimedia.org/wikipedia/commons/c/cf/Casio_calculator_JS-20WK_in_201901_002.jpg" crossorigin="anonymous">

</head>

<body>
<center>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Barnett Ashley</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">

        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Callicott Andrea</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Cheskaty Juli</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Craig Courtney</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Eckman Kyle</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Hannan Julie</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Hendricks Jay</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Liao Frank</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Millman Ryan</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Ozuna Ken</h5>
            <<input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Pytel Kimberly</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <a class="navbar-left"><img src="{{url_for('static', filename='icons/beaker.png')}}" style="width:75px;height:75px;"></a>
            <h5 class="card-title">Smedley Lisa</h5>
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
            <input type="Image" src="{{url_for('static', filename='rate.png')}}" style="width:30px;height:30px;">
        </div>
    </div>
</center>
</body>


{% endblock %}