<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Who am I?</title>
</head>
<body>
<h1>Who Am I?</h1>
<h4>Aidan Lin</h4>
<h5>I am learning Python, HTML, CSS, Flask, SQL, and Jinja, and I am trying to become an expert and more fluent in these regions.</h5>
<h1>Who Am I?</h1>
<h4>Ak Prathipati </h4>
<h5>I am fluent in  programming and am working on becoming an expert. I can: a Python/Flask web server, web frontends  using HTML, CSS, and BootStrap, I know Jinja and can exchange data between the front end and the back end.</h5>
<h4>Navodit Maheshwari </h4>
<h5>I code in Python, HTML, CSS and have some knowledge in C. I can make webpages with images buttons and all input fields. I can also use CSS to make pages more appealing. I am also getting better at creating and using functions</h5>

</body>
</html>